[Unit]
Description=okchaind

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/bin/bash /home/ubuntu/okchain/launch/systemctl/cloud/profile/okchaind_fullnode_start.sh
ExecStop=/bin/bash /home/ubuntu/okchain/launch/systemctl/okchaind_kill.sh
Restart=always
User=ubuntu

[Install]
WantedBy=multi-user.target