[Unit]
Description=okchaind

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/bin/bash /usr/okchain/launch/systemctl/cloud/fullnode/okchaind_start.sh
ExecStop=/bin/bash /usr/okchain/launch/systemctl/okchaind_kill.sh
Restart=always

[Install]
WantedBy=multi-user.target