[Unit]
Description=okchaind

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/bin/bash /home/ubuntu/okchain/launch/systemctl/scripts/start_full.sh
ExecStop=/bin/bash /home/ubuntu/okchain/launch/systemctl/scripts/okchaind_kill.sh
Restart=always
User=ubuntu

[Install]
WantedBy=multi-user.target